
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* base styles */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $mainShadow; }
::-webkit-scrollbar-thumb { background: $white; outline: 1px solid $darkGrey; }
::-webkit-scrollbar-corner { background: $white; }
::-webkit-resizer { background: $darkGrey; }

html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFont; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: $white $darkGrey;
}

#app { position: relative; width: 100%; max-width: $desktopWidth_mac; margin: 0 auto; }

h1 { font: 500 2.75rem/1 'TT Firs Neue'; background: $mainGradient; background-clip: text;

  -webkit-text-fill-color: transparent;
}
h2 { font: 500 1.875rem/1.2 'TT Firs Neue'; }
// h3 { font: 500 1.875rem/1.2 'TT Firs Neue'; }
h4 { font: 500 1.5rem/1.2 'TT Firs Neue'; }
h5 { font: 500 1.25rem/1.2 'TT Firs Neue'; }
h6 { font: normal 1rem/1.2 'TT Commons'; }

p { font: normal .8125rem/1.4 'TT Firs Neue'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

.container { position: relative; width: 100%; margin: 0 auto; padding: 2.5rem 1.25rem; background: transparent; display: grid; grid-gap: 0 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; grid-template-columns: repeat(8, 1fr); }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-gap: 0 2rem; grid-template-columns: repeat(12, 1fr); }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; }
  @media screen and (min-width: $desktopWidth_lg) {}
}

@media screen and (min-width: $tabletWidth) {
  a:hover { color: $linkColor_hover; }
}
@media screen and (min-width: $laptopWidth) {
  h1 { font-size: 5.25rem; }
  h2 { font-size: 3.5rem; }
  h4,
  h5 { font-size: 1.875rem; }
  h6 { font-size: 1.5rem; }

  p { font-size: 1rem; }
}
@media screen and (min-width: $desktopWidth_md) {
  h1 { font-size: 6rem; }
}


/* form styles */
// form {
//   fieldset { display: flex; }

//   label { color: $darkGrey; font: normal 1rem/1 'TT Firs Neue'; }
//   textarea,
//   input { width: 100%; background: transparent; color: $mainColor; font: normal 1rem/1 'TT Firs Neue';
//     &::placeholder { color: $darkGrey; }
//     &:focus { border-color: $successColor; }
//     &.error { border-color: $errorColor; }
//   }
//   textarea { min-height: 6rem; border: 1px solid $darkGrey; padding: .5rem 1rem; resize: none; }
//   input { height: 3rem; border-bottom: 1px solid $darkGrey; padding: 0 1rem; }

//   @media screen and (min-width: $tabletWidth) {}
// }

.button {
  a { height: 2.5rem; border-radius: 1.25rem; padding: 0 1.25rem; background: $mainGradient; color: $white; font: 500 1rem/1 'TT Firs Neue'; text-align: center; text-transform: uppercase; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; transition: all .3s ease-out;
    &:hover { background: $mainGradient_hover; color: $white; }
  }

  &_main a { height: 3.75rem; border-radius: 1.875rem; padding: 0 1.875rem; background: $greenGradient; font-size: 1.25rem;
    &:hover { background: $greenGradient_hover; }
  }

  &_empty a { width: 100%; height: 2.875rem; border: 1px solid $linkColor; border-radius: 1.4375rem; background: transparent;
    &:hover { background: $mainGradient_hover; }
  }

  @media screen and (min-width: $tabletWidth) {
    a { height: 2.875rem; border-radius: 1.4375rem; padding: 0 3.75rem; }

    &_main a { height: 5rem; border-radius: 2.5rem; padding: 0 3.125rem; }
  }
}


/* layout styles */
header { @include z('header');
  .container { height: 82px; padding: 1.3125rem 1.25rem;
    .header { grid-column: 1 / 7; display: flex; justify-content: space-between; align-items: center;
      &-logo {
        &__image { margin-right: .875rem; flex: none;
          img { width: 40px; height: 40px; }
        }
        &__name { font-size: 19px; font-family: 'Audiowide', cursive; line-height: 1; text-align: right;
          span { font-size: 13px; }
        }

        a { color: $white; display: flex; align-items: center;
          &:hover { color: $linkColor; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { height: 113px; padding: 2.5rem 1.25rem;
      .header { grid-column: 1 / 9;
        &-logo {
          &__image img { width: 49px; height: 49px; }
          &__name { font-size: 22.5px;
            span { font-size: 15px; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .header { grid-column: 1 / 13; }
    }
  }

  @media screen and (min-width: $tabletWidth) { height: 0; }
}

main { @include z('main'); }

footer { background: $mainColor; @include z('footer');
  .container { padding: 1.875rem 1.25rem 1.75rem;
    .footer { grid-column: 1 / 7; display: flex; flex-wrap: wrap; justify-content: space-between;
      &-logo { color: $white; display: flex; align-items: center;
        &__image { margin-right: .875rem; flex: none;
          img { width: 40px; height: 40px; }
        }
        &__name { font-size: 19px; font-family: 'Audiowide', cursive; line-height: 1; text-align: right;
          span { font-size: 13px; }
        }
      }
      &-menu { order: 3; margin: 1.875rem 0;
        ul { display: flex; flex-direction: column;
          li {
            &:not(:last-child) { margin-bottom: 1.25rem; }

            a { color: $footerColor; font-weight: 500; font-size: .875rem; line-height: 1.2;
              &:hover { color: $linkColor_hover; }
            }
          }
        }
      }
      &-social { display: flex; justify-content: flex-end; align-items: center; order: 2;
        &__medium a svg { width: 28px; }
        &__telegram a svg,
        &__twitter a svg { width: 19px; }

        li {
          &:not(:last-child) { margin-right: .4375rem; }

          a { width: 40px; height: 40px; border-radius: 50%; background: $socialColor; display: flex; justify-content: center; align-items: center;
            &:hover { background: $mainGradient; }

            svg { height: 15px; fill: $white; }
          }
        }
      }
    }
    .footer-info { grid-column: 1 / 7; position: relative; margin: 0 -1.25rem; padding: 1.5625rem 1.25rem; background: $footerInfoColor; display: flex;
      &__copyright { display: flex; align-items: center;
        p { color: $footerColor; line-height: 1.2; }
      }

      &-menu { position: absolute; left: calc((100% - 1rem)/2 + 1rem); top: -8.875rem;
        ul { display: flex; flex-direction: column;
          li {
            &:not(:last-child) { margin-bottom: 1.25rem; }

            a { color: $footerColor; font-weight: 300; font-size: .875rem; line-height: 1.2;
              &:hover { color: $linkColor_hover; }
            }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.75rem 1.25rem 0;
      .footer { grid-column: 1 / 9; flex-wrap: nowrap; align-items: center;
        &-logo {
          &__image img { width: 49px; height: 49px; }
          &__name { font-size: 22.5px;
            span { font-size: 15px; }
          }
        }
        &-menu { margin: 0; order: 2;
          ul { flex-direction: row; align-items: center;
            li:not(:last-child) { margin: 0 2.25rem 0 0; }
          }
        }
        &-social { order: 3;
          li {
            &:not(:last-child) { margin-right: .5rem; }

            a { width: 46px; height: 46px; }
          }
        }
      }
      .footer-info { grid-column: 1 / 9; margin: 4rem -1.25rem 0; padding: 2.25rem 1.25rem; justify-content: space-between;
        &::before,
        &::after { @include pseudo; top: 0; width: 35rem; height: 100%; background: $footerInfoColor; }
        &::before { left: -35rem; }
        &::after { right: -35rem; }

        &__copyright p { font-size: .8125rem; }

        &-menu { position: relative; left: auto; top: auto;
          ul { flex-direction: row;
            li { display: flex; align-items: center;
              &:not(:last-child) { margin: 0 2.25rem 0 0; }

              a { font-size: .8125rem; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 3.75rem 2.25rem 0;
      .footer { grid-column: 1 / 13; }
      .footer-info { grid-column: 1 / 13; margin: 4rem -2.25rem 0; padding: 2.25rem 2.25rem; }
    }
  }
}


/* page styles */
@import 'page/index';
