extends include/main

block variables
  - let title='CryptEx Staking'

block content
  section#get-bnb
    .container
      .get-bnb
        .get-bnb__title
          h1
            | $100,000+ worth BNB
            br
            | goes to CRX Holders
        .get-bnb__lead From 1st to 10th August
        .get-bnb__button
          .button.button_main
            a.hash(href='#rewards' title='How to get BNB') How to get BNB
      ul.get-bnb-info
        li.get-bnb-info__item
          .get-bnb-info__title
            h6 Product metrics
          .get-bnb-info__text
            p $170.34m locked, 193 projects
            p $214,263 income, over 200 customers
        li.get-bnb-info__item
          .get-bnb-info__title
            h6 CRX Tokenomics
          .get-bnb-info__text
            p $16.00 CRX price, 1.36m market cap
            p 85,000 circulating supply, 100,000 total supply
  #rewards
    .container
      .rewards
        .rewards__title How the staking rewards are formed
      ul.rewards-list
        li.rewards-list__item
          .rewards-list__icon
            img(src='image/icon/growth.svg' alt='icon')
          .rewards-list__desc CryptEx gets income in BNB and CRX from crypto projects
        li.rewards-list__item
          .rewards-list__icon
            img(src='image/icon/wallet.svg' alt='icon')
          .rewards-list__desc 50% of income goes to Staking Rewards in BNB
        li.rewards-list__item
          .rewards-list__icon
            img(src='image/icon/calendar.svg' alt='icon')
          .rewards-list__desc Every month all the CRX stakers get rewards in wrapped BNB
      .rewards-dropdown
        .rewards-dropdown-nav
          a.active(href='#buy' title='Buy CRX')
            span 1
            | Buy CRX
            img(src='image/icon/arrow_down.svg' alt='icon')
        ul.rewards-dropdown-list
          li.rewards-dropdown-list__item#buy
            .rewards-dropdown-list__title Where to buy CRX for staking
            .rewards-dropdown-list__group
              .rewards-dropdown-list__logo
                a(href='//v1exchange.pancakeswap.finance/#/swap?inputCurrency=0x97a30c692ece9c317235d48287d23d358170fc40' target='_blank' title='PancakeSwap')
                  img(src='image/logo/pancake_swap.png' srcset='image/logo/pancake_swap@2x.png 2x' alt='PancakeSwap')
              .rewards-dropdown-list__logo
                a(href='//dex.apeswap.finance/#/swap?&outputCurrency=0x97a30c692ece9c317235d48287d23d358170fc40' target='_blank' title='ApeSwap')
                  img(src='image/logo/apeswap.svg' alt='ApeSwap')
              .rewards-dropdown-list__logo
                a(href='//app.1inch.io/#/56/swap/BNB/CRX' target='_blank' title='1inch')
                  img(src='image/logo/1inch.svg' alt='1inch')
            .rewards-dropdown-list__group
              .rewards-dropdown-list__link
                img(src='image/icon/read.svg' alt='icon')
                a(href='//medium.com/hashex-blog/how-to-buy-crx-with-metamask-on-a-pc-6dd7a2b864ab' target='_blank' title='Read the full Staking guide') Read the full Staking guide
              .rewards-dropdown-list__link
                img(src='image/icon/play.svg' alt='icon')
                a(href='//youtu.be/XIuDgbpXGyU' target='_blank' title='Youtube video “How to buy CRX on 1inch”') Youtube video “How to buy CRX on 1inch”
        .rewards-dropdown-nav
          a(href='#stake' title='Stake CRX')
            span 2
            | Stake CRX
            img(src='image/icon/arrow_down.svg' alt='icon')
        ul.rewards-dropdown-list
          li.rewards-dropdown-list__item#stake
            .rewards-dropdown-list__title How to stake CRX
            ol.rewards-dropdown-list__info
              li
                | Go the CryptEx 
                a(href='//cryptexlock.me/stake' title='Staking DApp') Staking DApp
              li Connect BSC wallet with Wallet Connect
              li Choose amount of CRX to stake
              li Pick a staking period (from 0 to 12 weeks)
              li Approve all the transactions
            .rewards-dropdown-list__group
              .rewards-dropdown-list__link
                img(src='image/icon/read.svg' alt='icon')
                a(href='//medium.com/hashex-blog/how-to-buy-crx-with-metamask-on-a-pc-6dd7a2b864ab' target='_blank' title='Read the full Staking guide') Read the full Staking guide
              .rewards-dropdown-list__link
                img(src='image/icon/play.svg' alt='icon')
                a(href='//youtu.be/jmr9jMxozEw' target='_blank' title='Youtube video “How to stake CRX”') Youtube video “How to stake CRX”
        .rewards-dropdown-nav
          a(href='#grab' title='Grab the Rewards')
            span 3
            | Grab the Rewards
            img(src='image/icon/arrow_down.svg' alt='icon')
        ul.rewards-dropdown-list
          li.rewards-dropdown-list__item#grab
            .rewards-dropdown-list__title How to get wBNB reward
            ol.rewards-dropdown-list__info
              li Join to CryptEx Telegram or Twitter to be informed about destibution
              li
                | If there is a post about rewards, go to 
                a(href='//cryptexlock.me/stake' title='Staking DApp') Staking DApp
              li Connect BSC wallet with Wallet Connect
              li Press “Claim” near the wBNB balance
              li Approve all the transactions. wBNB will be sended to your BSC wallet
            .rewards-dropdown-list__link
              img(src='image/icon/read.svg' alt='icon')
              a(href='//medium.com/hashex-blog/how-to-buy-crx-with-metamask-on-a-pc-6dd7a2b864ab' target='_blank' title='Read the full Staking guide') Read the full Staking guide
  section#about
    .container
      .about
        .about__title
          h2 What is CryptEx
        .about__text
          p CryptEx provides security services to its clients. Binance Smart Chain and POLYGON Projects use CryptEx Liquidity Locker and Team Vesting decentralized apps for a fee.
          p Every Lock and Vesting service costs from 5 to 23 BNB, and 50% of income every month is distributed between CRX stakers.
      ul.about-list
        li.about-list__item
          .about-list__group
            .about-list__icon
              img(src='image/icon/lock.svg' alt='icon')
            .about-list__title
              h4
                | Secure
                br
                | & Reliable
          .about-list__desc CryptEx is developed by HashEx, a security expert and auditor company founded in 2017
        li.about-list__item
          .about-list__group
            .about-list__icon
              img(src='image/icon/network.svg' alt='icon')
            .about-list__title
              h4
                | Utility
                br
                | Income
          .about-list__desc CryptEx receives income from providing security services to BSC and POLYGON blockchain projects. 50% of said income every month goes into the staking rewards pool to later be distributed between the stakers of CRX token
        li.about-list__item
          .about-list__group
            .about-list__icon
              img(src='image/icon/keyhole.svg' alt='icon')
            .about-list__title
              h4
                | Strongly
                br
                | Long Term
          .about-list__desc CryptEx offers a valuable b2b product. More that 200 crypto projects already use the services. The team keeps working on new security tools
  section#friends
    .container
      .clients
        .clients__title
          h2 CryptEx Clients
        ul.clients-list
          li.clients-list__item
            .clients-list__logo
              img(src='image/logo/koda_cryptocurrency.svg' alt='Koda Cryptocurrency')
          li.clients-list__item
            .clients-list__logo
              img(src='image/logo/defidrop.svg' alt='defidrop')
          li.clients-list__item
            .clients-list__logo
              img(src='image/logo/echelon_dao.png' srcset='image/logo/echelon_dao@2x.png 2x' alt='Echelon DAO')
          li.clients-list__item
            .clients-list__logo
              img(src='image/logo/lanceria.svg' alt='Lanceria')
          li.clients-list__item
            .clients-list__logo
              img(src='image/logo/token_echo.svg' alt='Token Echo')
          li.clients-list__item
            .clients-list__logo
              img(src='image/logo/x2p_token.png' srcset='image/logo/x2p_token@2x.png 2x' alt='X2P Token')
          li.clients-list__item
            .clients-list__logo
              img(src='image/logo/space_farm.png' srcset='image/logo/space_farm@2x.png 2x' alt='Space Farm')
      .partners
        .partners__title
          h2 Partners
        ul.partners-list
          li.partners-list__item
            .partners-list__logo
              img(src='image/logo/apeswap.svg' alt='ApeSwap')
          li.partners-list__item
            .partners-list__logo
              img(src='image/logo/polygon.png' srcset='image/logo/polygon@2x.png 2x' alt='polygon')
          li.partners-list__item
            .partners-list__logo
              img(src='image/logo/unimex.svg' alt='unimex')
          li.partners-list__item
            .partners-list__logo
              img(src='image/logo/unirocket.png' srcset='image/logo/unirocket@2x.png 2x' alt='unirocket')
          li.partners-list__item
            .partners-list__logo
              img(src='image/logo/pancake_swap.png' srcset='image/logo/pancake_swap@2x.png 2x' alt='PancakeSwap')
          li.partners-list__item
            .partners-list__logo
              img(src='image/logo/1inch.svg' alt='1inch')
  section#team
    .container
      .team
        .team__title
          h2 Powered by HashEx
        .team__text
          p One of the most impactful tech advisories in EMEA region. More than 30 global projects are running 200+ smart contracts were audited in 2017-2021
      ul.team-list
        li.team-list__item
          .team-list__photo
            img(src='image/team/1.png' srcset='image/team/1@2x.png 2x' alt='Dmitry Mishunin')
          .team-list__group
            q.team-list__quote Affordable and trustworthy security services are crucial for current and future developments on BSC. This is why we launched CryptEx.
            .team-list__name Dmitry Mishunin
            .team-list__position Chief Executive Officer and Founder
            .team-list__link
              a(href='//www.linkedin.com/in/dmitrymishunin/' target='_blank' title='Dmitry Mishunin') Linkedin
        li.team-list__item
          .team-list__photo
            img(src='image/team/2.png' srcset='image/team/2@2x.png 2x' alt='Ksenia Borodulina')
          .team-list__group
            .team-list__name Ksenia Borodulina
            .team-list__position Chief Operating Officer
            .team-list__link
              a(href='//www.linkedin.com/in/kborodulina/' target='_blank' title='Ksenia Borodulina') Linkedin
        li.team-list__item
          .team-list__photo
            img(src='image/team/3.png' srcset='image/team/3@2x.png 2x' alt='Gleb Zykov')
          .team-list__group
            .team-list__name Gleb Zykov
            .team-list__position Chief Technical Officer
            .team-list__link
              a(href='//www.linkedin.com/in/gleb-zykov-333a8078/' target='_blank' title='Gleb Zykov') Linkedin
        li.team-list__item
          .team-list__photo
            img(src='image/team/4.png' srcset='image/team/4@2x.png 2x' alt='Koen van der Weijden')
          .team-list__group
            .team-list__name Koen van der Weijden
            .team-list__position Technical Development
            .team-list__link
              a(href='//www.linkedin.com/in/koen-van-der-weijden-a6502332/' target='_blank' title='Koen van der Weijden') Linkedin
  section#join
    .container
      .join
        .join__title
          h2 Join to CryptEx and get monthly staking rewards
      ul.join-movie
        li.join-movie__item
          .join-movie__head
            .join-movie__count 01
            .join-movie__title
              h5 Buy CRX
            .join-movie__link
              a(href='//medium.com/hashex-blog/how-to-buy-crx-with-metamask-on-a-pc-6dd7a2b864ab' target='_blank' title='Read the full Staking guide') Read the full Staking guide
          .join-movie__play
            iframe#ytplayer(src='//www.youtube.com/embed/XIuDgbpXGyU?enablejsapi=1' type='text/html' frameborder='0' allowfullscreen)
          .join-movie__group
            .join-movie__logo
              a(href='//v1exchange.pancakeswap.finance/#/swap?inputCurrency=0x97a30c692ece9c317235d48287d23d358170fc40' target='_blank' title='PancakeSwap')
                img(src='image/logo/pancake_swap_white.png' srcset='image/logo/pancake_swap_white@2x.png 2x' alt='PancakeSwap')
            .join-movie__logo
              a(href='//dex.apeswap.finance/#/swap?&outputCurrency=0x97a30c692ece9c317235d48287d23d358170fc40' target='_blank' title='ApeSwap')
                img(src='image/logo/apeswap.svg' alt='ApeSwap')
            .join-movie__logo
              a(href='//app.1inch.io/#/56/swap/BNB/CRX' target='_blank' title='1inch')
                img(src='image/logo/1inch.svg' alt='1inch')
        li.join-movie__item
          .join-movie__head
            .join-movie__count 02
            .join-movie__title
              h5 Stake CRX
            .join-movie__link
              a(href='//medium.com/hashex-blog/how-to-buy-crx-with-metamask-on-a-pc-6dd7a2b864ab' target='_blank' title='Read the full Staking guide') Read the full Staking guide
          .join-movie__play
            iframe#ytplayer(src='//www.youtube.com/embed/jmr9jMxozEw?enablejsapi=1' type='text/html' frameborder='0' allowfullscreen)
          .join-movie__button
            .button.button_empty
              a(href='//cryptexlock.me/stake' title='Open Staking DApp') Open Staking DApp
        li.join-movie__item
          .join-movie__head
            .join-movie__count 03
            .join-movie__title
              h5 Claim Rewards
          .join-movie__info
            .join-movie__text
              p Join the CryptEx Community to be informed about the rewards
            ul.join-movie-social
              li.join-movie-social__medium
                a(href='//medium.com/hashex-blog' target='_blank' title='Medium')
                  svg
                    use(href='image/icon/medium.svg#medium')
              li.join-movie-social__telegram
                a(href='//t.me/cryptexlocker' target='_blank' title='Telegram')
                  svg
                    use(href='image/icon/telegram.svg#telegram')
              li.join-movie-social__twitter
                a(href='//twitter.com/ExLocker' target='_blank' title='Twitter')
                  svg
                    use(href='image/icon/twitter.svg#twitter')
            .join-movie__text
              p
                | Grab wBNB every month in 
                a(href='//cryptexlock.me/stake' title='Open Staking DApp') Staking DApp
              p
                | Feel free to ask any questions in 
                a(href='//t.me/cryptexlocker' target='_blank' title='CryptEx Telegram Chat') CryptEx Telegram Chat
