
/* Audiowide */
@import url('//fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* TT Firs Neue */
@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
       url('../font/TTFirsNeue/TTFirsNeue-Regular.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-Regular.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Italic'), local('TTFirsNeue-Italic'),
       url('../font/TTFirsNeue/TTFirsNeue-Italic.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-Italic.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Bold'), local('TTFirsNeue-Bold'),
       url('../font/TTFirsNeue/TTFirsNeue-Bold.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-Bold.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Bold Italic'), local('TTFirsNeue-BoldItalic'),
       url('../font/TTFirsNeue/TTFirsNeue-BoldItalic.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-BoldItalic.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Light'), local('TTFirsNeue-Light'),
       url('../font/TTFirsNeue/TTFirsNeue-Light.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-Light.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Light Italic'), local('TTFirsNeue-LightItalic'),
       url('../font/TTFirsNeue/TTFirsNeue-LightItalic.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-LightItalic.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'),
       url('../font/TTFirsNeue/TTFirsNeue-Medium.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-Medium.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Medium Italic'), local('TTFirsNeue-MediumItalic'),
       url('../font/TTFirsNeue/TTFirsNeue-MediumItalic.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-MediumItalic.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue DemiBold'), local('TTFirsNeue-DemiBold'),
       url('../font/TTFirsNeue/TTFirsNeue-DemiBold.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-DemiBold.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue DemiBold Italic'), local('TTFirsNeue-DemiBoldItalic'),
       url('../font/TTFirsNeue/TTFirsNeue-DemiBoldItalic.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-DemiBoldItalic.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue ExtraBold'), local('TTFirsNeue-ExtraBold'),
       url('../font/TTFirsNeue/TTFirsNeue-ExtraBold.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-ExtraBold.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue ExtraBold Italic'), local('TTFirsNeue-ExtraBoldItalic'),
       url('../font/TTFirsNeue/TTFirsNeue-ExtraBoldItalic.woff2') format('woff2'),
       url('../font/TTFirsNeue/TTFirsNeue-ExtraBoldItalic.woff') format('woff'),
       url('../font/TTFirsNeue/TTFirsNeue-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* TT Commons */
@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Regular'), local('TTCommons-Regular'),
       url('../font/TTCommons/TTCommons-Regular.woff2') format('woff2'),
       url('../font/TTCommons/TTCommons-Regular.woff') format('woff'),
       url('../font/TTCommons/TTCommons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Italic'), local('TTCommons-Italic'),
       url('../font/TTCommons/TTCommons-Italic.woff2') format('woff2'),
       url('../font/TTCommons/TTCommons-Italic.woff') format('woff'),
       url('../font/TTCommons/TTCommons-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Bold'), local('TTCommons-Bold'),
       url('../font/TTCommons/TTCommons-Bold.woff2') format('woff2'),
       url('../font/TTCommons/TTCommons-Bold.woff') format('woff'),
       url('../font/TTCommons/TTCommons-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Bold Italic'), local('TTCommons-BoldItalic'),
       url('../font/TTCommons/TTCommons-BoldItalic.woff2') format('woff2'),
       url('../font/TTCommons/TTCommons-BoldItalic.woff') format('woff'),
       url('../font/TTCommons/TTCommons-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Medium'), local('TTCommons-Medium'),
       url('../font/TTCommons/TTCommons-Medium.woff2') format('woff2'),
       url('../font/TTCommons/TTCommons-Medium.woff') format('woff'),
       url('../font/TTCommons/TTCommons-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: local('TT Commons Medium Italic'), local('TTCommons-MediumItalic'),
       url('../font/TTCommons/TTCommons-MediumItalic.woff2') format('woff2'),
       url('../font/TTCommons/TTCommons-MediumItalic.woff') format('woff'),
       url('../font/TTCommons/TTCommons-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
