
/* font options */
$mainColor                 : #181523;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'TT Firs Neue', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(24, 21, 35, .66);

/* screen resolution */
$mobileWidth               : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1280px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;
$desktopWidth_mac          : 2560px;

/* primary colors */
$backgroundColor           : #221e32;
$linkColor                 : #ff745f;
$linkColor_hover           : #f15037;
$accentColor               : #ac13ff;
$successColor              : #375cff;
$errorColor                : #dc2d70;
$borderColor               : #383152;
$rewardsColor              : #96a2ca;
$socialColor               : #3a3454;
$footerColor               : #7c7790;
$footerInfoColor           : #13101c;

$mainGradient              : linear-gradient(270.42deg, #ff7940 -2.65%, #ff5ddb 99.64%);
$mainGradient_hover        : linear-gradient(270.42deg, #ff7940 -2.65%, #ff7940 99.64%);
$greenGradient             : linear-gradient(180deg, #49bf86 0%, #1e915a 100%);
$greenGradient_hover       : linear-gradient(180deg, #49bf86 0%, #49bf86 100%);
$movieGradient             : linear-gradient(180deg, rgba(24, 21, 35, 0) 0%, #181523 100%);

/* complementary colors */
$white                     : #ffffff;
$darkGrey                  : #b1b5c4;
$darkGrey_opacity          : rgba(177, 181, 196, .4);
$lightGrey                 : #e6e6e6;
$snowGrey                  : #f1f3fa;
