header
  .container
    .header
      .header-logo
        a(href='/' title='CryptEx Staking')
          .header-logo__image
            img(src='image/logo.png' srcset='image/logo@2x.png' alt='CryptEx Staking')
          .header-logo__name
            | CryptEx
            br
            span Staking
      .header-button
        .button
          a(href='//cryptexlock.me/stake' title='Stake CRX') Stake CRX
