
/* Index page */
#get-bnb { background: transparent url('../image/bg/get_bnb.m.svg') top no-repeat; background-size: contain;
  .container { min-height: 648px; padding: 1.875rem 1.25rem 2.5rem;
    .get-bnb { grid-column: 1 / 7;
      &__title { margin-bottom: 1.25rem; }
      &__lead { margin-bottom: 2.5rem; color: $white; font-size: 1.25rem; line-height: 1.2; }
      &__button { margin-bottom: 1.875rem; }
    }
    .get-bnb-info { grid-column: 1 / 7; display: flex; flex-direction: column;
      &__item { display: flex; flex-direction: column;
        &:not(:last-child) { margin-bottom: 1.25rem; }
      }
      &__title { margin-bottom: .625rem; color: $white; }
      &__text p { width: auto; min-height: 2rem; border-radius: 1rem; background: $mainColor; color: $darkGrey; padding: .5rem .75rem; display: inline-flex; justify-content: center; align-items: center;
        &:not(:last-child) { margin-bottom: .3125rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 11.8125rem 1.25rem 5rem;
      .get-bnb { grid-column: 1 / 9;
        &__title { margin-bottom: 1.875rem; }
        &__lead { margin-bottom: 3.75rem; font-size: 2.25rem; }
        &__button { margin-bottom: 4.6875rem; }
      }
      .get-bnb-info { grid-column: 1 / 9; flex-direction: row;
        &__item:not(:last-child) { margin: 0 3.125rem 0 0; }
        &__text p { min-height: 2.25rem; border-radius: 1.125rem; padding: .5rem .9375rem; font-size: 1rem;
          &:not(:last-child) { margin-bottom: .375rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 11.8125rem 2.25rem 5rem;
      .get-bnb { grid-column: 2 / 12; }
      .get-bnb-info { grid-column: 2 / 12; }
    }
  }

  @media screen and (min-width: $tabletWidth) { background-image: url('../image/bg/get_bnb.svg'); background-position: bottom; background-size: cover; }
}

#rewards { background: $mainColor;
  .container { padding: 1.875rem 1.25rem 1.25rem;
    .rewards { grid-column: 1 / 7;
      &__title { margin-bottom: 1.5rem; color: $rewardsColor; font-weight: 500; font-size: 1.5rem; line-height: 1.2; text-transform: uppercase; }
    }
    .rewards-list { grid-column: 1 / 7; margin-bottom: 1.875rem;
      &__item { display: flex; align-items: center;
        &:not(:last-child) { margin-bottom: 1.5rem; }
      }
      &__icon { width: 50px; height: 50px; border: 1px solid $borderColor; border-radius: 50%; margin-right: 1.5rem; display: flex; justify-content: center; align-items: center; flex: none; }
      &__desc { color: $white; line-height: 1.2; font-family: 'TT Commons'; }
    }
    .rewards-dropdown { grid-column: 1 / 7; border-radius: 1.875rem; padding: 1.5625rem 0; background: $white;
      &-nav { padding: 0 1.25rem;
        &:not(:first-of-type) a { border-top: 1px solid $lightGrey; margin-top: 1.5rem; padding-top: 1.5rem; }

        a { position: relative; color: $mainColor; font-weight: 500; font-size: 1.25rem; line-height: 1.2; display: flex; align-items: center;
          &.active {
            span { border-color: $darkGrey; background: $mainColor; }
            img { transform: rotate(-180deg); }
          }

          span { width: 64px; height: 64px; border: 7px solid $white; border-radius: 50%; margin: -7px .8125rem -7px -7px; background: $mainGradient; color: $white; font-weight: normal; line-height: 3; font-family: 'TT Commons'; text-align: center; display: inline-flex; justify-content: center; align-items: center; flex: none; }
          img { width: 18px; height: 10px; margin-left: auto; flex: none; }
        }
      }
      &-list {
        &:not(:first-of-type) .rewards-dropdown-list__item { display: none; }

        &__item { padding: 0 1.25rem; }
        &__title { margin: 1.6875rem 0 1.25rem; font-weight: 800; font-size: 1.5rem; line-height: 1.2; }
        &__group { display: flex; flex-wrap: wrap; justify-content: space-between;
          &:not(:last-child) { margin-bottom: 1.25rem; }
        }
        &__logo { width: calc((100% - .625rem)/2);
          &:nth-child(1) { width: 100%; margin-bottom: .625rem; }
          &:nth-child(2) { margin-right: .625rem; }

          a { height: 3.75rem; border-radius: .625rem; padding: .25rem 1.25rem; background: $snowGrey; display: flex; justify-content: center; align-items: center;
            img { max-height: 100%; }
          }
        }
        &__info { margin-bottom: 1.25rem; display: flex; flex-direction: column; counter-reset: num;
          li { position: relative; margin-left: 1.125rem; font-size: .875rem; line-height: 1.2;
            &::before { @include pseudo($content: counter(num)'.'); left: -1.125rem; top: 0; color: $darkGrey; counter-increment: num; }
            &:not(:last-child) { margin-bottom: .625rem; }

            a { text-decoration: underline; }
          }
        }
        &__link { display: flex; align-items: center;
          &:not(:last-child) { margin-bottom: 1rem; }

          img { width: 16px; margin-right: .5rem; flex: none; }
          a { font-size: .875rem; line-height: 1.2; text-decoration: underline; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 5rem 1.25rem 0;
      .rewards { grid-column: 1 / 9;
        &__title { margin-bottom: 3.125rem; }
      }
      .rewards-list { grid-column: 1 / 9; margin-bottom: 5.625rem; display: flex; justify-content: space-between;
        &__item { width: calc((100% - 15px)/3); flex-direction: column; align-items: flex-start;
          &:not(:last-child) { margin: 0 7.5rem 0 0;
            .rewards-list__icon { position: relative;
              &::after { @include pseudo; left: 4.5rem; top: 1.25rem; width: 265px; height: 8px; background: transparent url('../image/icon/arrow.svg') center no-repeat; }
            }
          }
        }
        &__icon { margin: 0 0 1.25rem; }
        &__desc { font-size: 1.25rem; }
      }
      .rewards-dropdown { grid-column: 1 / 9; position: relative; min-height: 432px; margin-bottom: -3.125rem; align-items: center; @include subgrid(1, 8);
        &::before { @include pseudo; left: 10%; bottom: -10px; width: 80%; height: 60px; border-radius: 50%; background: $mainGradient; filter: blur(50px); z-index: -1; }

        &-nav { grid-column: 1 / 4; margin-left: 5rem; padding: 0;
          &:first-of-type { margin-top: 4rem; }
          &:last-of-type { margin-bottom: 4rem; }

          a {
            &.active::before { @include pseudo; left: -5rem; bottom: -1.25rem; width: 45px; height: 90px; background: transparent url('../image/icon/pointer.svg') center no-repeat; }

            img { display: none; }
          }
        }
        &-list { grid-row: 1 / 4; grid-column: 5 / 9;
          &__item { margin: 0 2rem 0 -2rem; padding: 0; }
          &__title { margin: 0 0 1.25rem; }
          &__group { margin-right: 2rem; }
          &__logo a { height: 4.6875rem; padding: .625rem 1.75rem; }
          &__info li { font-size: 1rem; }
          &__link { width: calc((100% - 1.25rem)/2);
            &:not(:last-child) { margin: 0 1.25rem 0 0; }
          }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .rewards-dropdown {
        &-list {
          &__group { margin-right: 8rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 5rem 2.25rem 0;
      .rewards { grid-column: 2 / 12; }
      .rewards-list { grid-column: 2 / 12;
        &__item:not(:last-child) .rewards-list__icon::after { left: 6rem; }
        &__desc { font-size: 1.5rem; }
      }
      .rewards-dropdown { grid-column: 2 / 12; @include subgrid(2, 10);
        &-nav { margin-right: -4rem; }
        &-list { grid-column: 6 / 10;
          &__group { margin-right: 6rem; }
        }
      }
    }
  }
}

#about { background: transparent url('../image/bg/about.m.svg') center 100px no-repeat; background-size: cover;
  .container { padding: 2.5rem 1.25rem 3.125rem;
    .about { grid-column: 1 / 7;
      &__title { margin-bottom: 1.25rem;
        h2 { color: $white; }
      }
      &__text { border-bottom: 1px solid $borderColor; margin-bottom: 2.5rem; padding-bottom: 2.5rem;
        p { color: $darkGrey;
          &:not(:last-child) { margin-bottom: .625rem; }
        }
      }
    }
    .about-list { grid-column: 1 / 7;
      &__item:not(:last-child) { margin-bottom: 1.875rem; }
      &__group { margin-bottom: 1.5rem; display: flex; align-items: center; }
      &__icon { width: 78px; height: 78px; border: 1px solid $darkGrey_opacity; border-radius: 50%; margin-right: 1.25rem; display: flex; justify-content: center; align-items: center; flex: none; }
      &__title { color: $white; }
      &__desc { color: $white; font-size: 1.125rem; font-family: 'TT Commons'; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 10rem 1.25rem 7.5rem;
      .about { grid-column: 1 / 9;
        &__title { margin-bottom: 2.5rem; }
        &__text { margin-bottom: 3.75rem; padding-bottom:  2.8125rem; }
      }
      .about-list { grid-column: 1 / 9; display: flex; justify-content: space-between;
        &__item { width: calc((100% - 9.25rem)/3);
          &:not(:last-child) { margin: 0 4.625rem 0 0; }
        }
        &__group { margin-bottom: 1rem; flex-direction: column; align-items: flex-start; }
        &__icon { margin: 0 0 1.875rem; }
        &__desc { font-size: 1.25rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 10rem 2.25rem 7.5rem;
      .about { grid-column: 2 / 12; }
      .about-list { grid-column: 2 / 12;
        &__desc { font-size: 1.5rem; }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { background-image: url('../image/bg/about.svg'); background-position: bottom; background-size: auto; }
}

#friends { background: $white;
  .container {
    .clients,
    .partners { grid-column: 1 / 7;
      &__title { margin-bottom: 1.25rem; }

      &-list { display: flex; flex-wrap: wrap;
        &__item { width: calc((100% - .9375rem)/2);
          &:nth-child(odd) { margin-right: .9375rem; }
          &:nth-last-child(n+3) { margin-bottom: .9375rem; }
        }
        &__logo { height: 4rem; border: 1px solid $lightGrey; border-radius: 1.25rem; padding: .25rem 1.25rem; background: $white; display: flex; justify-content: center; align-items: center;
          img { max-height: 100%; flex: none; }
        }
      }
    }
    .clients { margin-bottom: 2.5rem; }

    @media screen and (min-width: $tabletWidth) { padding: 6.25rem 1.25rem 7.5rem;
      .clients,
      .partners {
        &__title { margin-bottom: 2.5rem; }

        &-list {
          &__item { width: calc((100% - 1.875rem)/2);
            &:nth-child(odd) { margin-right: 1.875rem; }
            &:nth-last-child(n+3) { margin-bottom: 1.875rem; }
          }
          &__logo { height: 5rem; padding: .625rem 1.75rem; }
        }
      }
      .clients { grid-column: 1 / 5; margin: 0 .875rem 0 0; }
      .partners { grid-column: 5 / 9; margin-right: 1.875rem; }
    }
    @media screen and (min-width: $desktopWidth) { padding: 6.25rem 2.25rem 7.5rem;
      .clients { grid-column: 2 / 7; margin: 0 6.5rem 0 0; }
      .partners { grid-column: 7 / 12; margin-right: 7.5rem; }
    }
  }
}

#team { background: $mainColor;
  .container {
    .team { grid-column: 1 / 7;
      &__title { margin-bottom: 1.25rem;
        h2 { color: $white; }
      }
      &__text { margin-bottom: 2.25rem;
        p { color: $darkGrey; }
      }
    }
    .team-list { grid-column: 1 / 7;
      &__item { display: flex;
        &:not(:last-child) { border-bottom: 1px solid $borderColor; margin-bottom: 1.25rem; padding-bottom: 1.25rem; }
        &:first-child { padding-bottom: 2rem;
          .team-list__name { margin-top: 2.5rem; }
        }
      }
      &__photo { width: 74px; height: 74px; border-radius: 50%; margin-right: 1.25rem; overflow: hidden; flex: none;
        img { width: 74px; height: 74px; }
      }
      &__quote { color: $darkGrey; font-size: 1.5rem; line-height: 1.2; }
      &__name { margin-bottom: .375rem; color: $white; font-weight: 600; font-size: 1.25rem; line-height: 1.3; }
      &__position { margin-bottom: .375rem; color: $darkGrey; font-size: 1rem; line-height: 1.2; }
      &__link a { border-bottom: 1px solid $linkColor; font-size: .875rem; line-height: 1.2;
        &:hover { border-bottom-color: $linkColor_hover; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 6.875rem 1.25rem;
      .team { grid-column: 1 / 9;
        &__title { margin-bottom: .625rem; }
        &__text { margin-bottom: 2.5rem; }
      }
      .team-list { grid-column: 1 / 9; @include subgrid(1, 8);
        &__item { grid-column: 6 / 9;
          &:not(:last-child) { margin-bottom: 1.5rem; padding-bottom: 1.5rem; }
          &:first-child { grid-row: 1 / 4; grid-column: 1 / 6; border: none; margin: 0 2.8125rem 0 0; padding: 0;
            .team-list__name { margin-top: 1.5rem; }
            .team-list__photo { width: 150px; height: 150px; margin-right: 1.875rem;
              img { width: 150px; height: 150px; }
            }
          }
        }
        &__photo { width: 100px; height: 100px; margin-right: 1.75rem;
          img { width: 100px; height: 100px; }
        }
        &__name { font-size: 1.5rem; }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .team-list {
        &__quote { font-size: 1.875rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 6.875rem 2.25rem;
      .team { grid-column: 2 / 12;
        &__text { margin-right: 18.75rem; }
      }
      .team-list { grid-column: 2 / 12; @include subgrid(2, 10);
        &__item { grid-column: 7 / 11;
          &:first-child { grid-column: 1 / 7; }
        }
        &__quote { font-weight: 300; font-size: 2.1875rem; }
      }
    }
  }
}

#join {
  .container {
    .join { grid-column: 1 / 7;
      &__title { margin-bottom: 1.25rem;
        h2 { color: $white; }
      }
    }
    .join-movie { grid-column: 1 / 7;
      &__item { margin: 0 -1.25rem; padding: 1.25rem; background: $movieGradient; display: flex; flex-direction: column; }
      &__head { width: 100%; margin-bottom: .875rem; display: flex; }
      &__count { margin-right: .9375rem; background: $mainGradient; background-clip: text; font-weight: 300; font-size: 1.25rem; line-height: 1.2;

        -webkit-text-fill-color: transparent;
      }
      &__title h5 { color: $white; }
      &__link { margin-left: auto;
        a { border-bottom: 1px solid $linkColor; font-size: .875rem;
          &:hover { border-bottom-color: $linkColor_hover; }
        }
      }
      &__play { position: relative; height: 0; margin-bottom: .875rem; overflow: hidden;

        /* задаёт высоту контейнера для 16:9 (если 4:3 — 75%) */
        padding-bottom: 56.25%;

        iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-width: 0; outline-width: 0; border-radius: .625rem; }
      }
      &__group { display: flex; flex-wrap: wrap; justify-content: space-between; }
      &__logo { width: calc((100% - .625rem)/2);
        &:nth-child(1) { width: 100%; margin-bottom: .625rem; }
        &:nth-child(2) { margin-right: .625rem; }

        a { height: 3.75rem; border-radius: .625rem; padding: .25rem 1.25rem; background: $backgroundColor; display: flex; justify-content: center; align-items: center;
          img { max-height: 100%; }
        }
      }
      &__text {
        &:not(:last-of-type) { margin-bottom: .625rem; }

        p { color: $white;
          &:not(:last-child) { margin-bottom: .625rem; }

          a { border-bottom: 1px solid $linkColor; white-space: nowrap;
            &:hover { border-bottom-color: $linkColor_hover; }
          }
        }
      }

      &-social { margin-bottom: 2.5rem; display: flex; align-items: center;
        &__medium a svg { width: 28px; }
        &__telegram a svg,
        &__twitter a svg { width: 19px; }

        li {
          &:not(:last-child) { margin-right: .4375rem; }

          a { width: 40px; height: 40px; border-radius: 50%; background: $socialColor; display: flex; justify-content: center; align-items: center;
            &:hover { background: $mainGradient; }

            svg { height: 15px; fill: $white; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 6.875rem 1.25rem;
      .join { grid-column: 1 / 9;
        &__title { margin-bottom: 5rem; }
      }
      .join-movie { grid-column: 1 / 9; @include subgrid(1, 8);
        &__item { grid-column: 1 / 9; border-radius: 1.875rem; margin: 0; padding: 2.5rem; background: $mainColor; @include subgrid(1, 8);
          &:not(:last-child) { margin-bottom: .625rem; }
        }
        &__head { grid-column: 1 / 4; margin: 0 1.5rem 0 0; flex-direction: column; }
        &__count { width: 108px; margin: 0; font-size: 5rem; }
        &__link { margin: .75rem 0 1rem 0; }
        &__play { grid-row: 1 / 3; grid-column: 4 / 9; margin: 0; }
        &__group,
        &__button { grid-column: 1 / 4; margin-right: 1.5rem; align-self: flex-end; }
        &__info { grid-column: 4 / 9; }

        &-social li {
          &:not(:last-child) { margin-right: .5rem; }

          a { width: 46px; height: 46px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 6.875rem 2.25rem;
      .join { grid-column: 2 / 12; }
      .join-movie { grid-column: 2 / 12; @include subgrid(2, 10);
        &__item { grid-column: 2 / 12; @include subgrid(1, 10);
          &:not(:last-child) { min-height: 460px; }
        }
        &__head { grid-column: 1 / 4; }
        &__play,
        &__info { grid-column: 4 / 11; margin-left: 2rem; }
        &__group,
        &__button { grid-column: 1 / 4; }
        &__group { margin: 0; }
      }
    }
  }
}
